{% extends "index.html" %}

{% block title %}Admin - Edit User{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="card text-dark bg-light mb-3 shadow" style="max-width: auto;">
  <div class="card-header">
      <i class="bi bi-pencil-square pe-2" style="color: red; font-size: 1.3rem;"></i><strong style="font-size: 1.2rem;">Edit User/Staff</strong>
  </div>
  <div class="card-body">
    <form action="{{ url_for('edituser', id=user.id_user) }}" method="POST">
      <div class="mb-3">
        <label for="userName" class="form-label">Nama</label>
        <input name="namaLogin" type="text" class="form-control" id="userName" aria-describedby="emailHelp" value="{{user.nama}}" placeholder="{{user.nama}}">
        <div class="form-text">Edit nama User/Staff. Jangan Menggunakan nama yang sudah ada!</div>
      </div>
      <div class="mb-3">
        <label for="userEmail" class="form-label">Email address</label>
        <input name="emailLogin" type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" value="{{user.email}}" placeholder="{{user.email}}">
        <div class="form-text">Edit Email User/Staff. Jangan menggunakan email yang sudah ada!</div>
      </div>
      <div class="mb-3">
        <label for="userJabatan" class="form-label">Jabatan</label>
        <input name="jabatanStaff" type="text" class="form-control" id="userJabatan" aria-describedby="emailHelp" value="{{user.jabatan}}" placeholder="{{user.jabatan}}">
        <div class="form-text">Edit Jabatan User/Staff</div>
      </div>
      <div class="mb-3">
        <label for="pilihBidangStaff" class="form-label">Bidang</label>
        <select name="pilihBidang" class="form-select" id="pilihBidangStaff" aria-label="Default select example">
          <option selected>Pilih bidang</option>
          {% for bidang in ambilBidang %}
          <option value="{{ bidang.id_bidang }}" {% if bidang.id_bidang == user.id_bidang %}selected{% endif %}>{{ bidang.nama_bidang }}</option>
          {% endfor %}
        </select>
        <div class="form-text">Pilih Bidang dari User/Staff</div>
      </div>
      <div class="mb-3">
        <label for="pilihRoleStaff" class="form-label">Peran</label>
        <select name="pilihRole" class="form-select" id="pilihRoleStaff" aria-label="Default select example">
          <option value="admin" {{ 'Selected' if user.web_role == "admin" else '' }}>Administrator</option>
          <option value="staff" {{ 'Selected' if user.web_role == "staff" else '' }}>Staff</option>
        </select>
        <div class="form-text">Pilih Peran User/Staff didalam website. Ini akan menentukan akses website dari USer/Staff</div>
      </div>
      <div class="d-flex d-inline-flex gap-2">
        <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Apakah data yang diubah sudah benar?');"><i class="bi bi-pencil-square pe-2"></i>Edit User</button>
        <a href="{{ url_for('manageuserpage')}}" class="btn btn-sm btn-danger text-center" onclick="return confirm('Batal edit data user/staff?');"><i class="bi bi-x-square pe-2"></i>Batal</a>        
      </div>
    </form>
  </div>
  <div class="card-footer">

  </div>
{% endblock %}
