<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
    <link href="../static/css/main.css" rel="stylesheet">
    <title>Login Ke TourDMS</title>
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
      <div class="card p-4" style="width: 100%; max-width: 400px;">
        <h4 class="text-center mb-3">TourDMS Login</h4>
        <form class="" action="{{ url_for('login_process') }}" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Alamat Email</label>
            <input name="emailLogin" type="email" class="form-control" id="email" placeholder="nama@email.com">
          </div>
          <div class="mb-3">
            <label for="myInput" class="form-label">Password</label>
            <input name="passwordLogin" type="password" class="form-control" id="passInput" placeholder="Password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="showPass" onclick="myFunction()">
            <label class="form-check-label" for="remember">Tampilkan Password</label>
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
  </div>
  <div>

  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("passInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>